* {
  border: 1px #CCCCCC solid;
}

.sprite {
  display: block;
}


#dashboard {
  background-image:url('nav-bar.png');
  background-repeat:no-repeat;
  background-size:100% 100%;
  font-size: 18px;
  color: white;
  margin:14px;
  height:77px;
}


body{
  font-family: 'PT Sans';
}

h1{
  font-size: 32px;
  color: #2498f4;
}

b{
  font-size: 32px;
  font-weight: normal;
  color: #2498f4;
}

.stretch {
  width:100%;
  background-size: 100% 100%;
  padding:0px;
  margin:0px;
  border:0px;
}

.nopadding {
  padding:0px;
}

//colors//

.white {
  background-color: #ffffff;
  padding:40px;
  border: 1px #e5e5e5 solid;
}

.orange{
  color: #fe7f13;
}

.gray {
  color: #777777;
}

.orange, .gray{
  border-right:1px solid #eeeeee;
}

.header {
  background-image:url('head-bar.png');
  background-repeat:no-repeat;
  background-size:100% 100%;
  color: white;
  font-size: 18px;
  height:45px;
}

.header-content {
  float:right;
  height:44px;
  color: #ffffff;
  line-height:45px;
  padding-right:10px;
  padding-top:0;
  font-size: 10px;

}

.navigation {
  height:110px;
  background-image: url(nav-bar.png);
  padding-top:19px;
}

.navigation ul {
  width:100%;
  margin:0 auto;
}

.navigation li {
  width:16%;
  margin:0 auto;
  cursor: pointer;
}

.navigation li div{
  margin: 0 auto;
}


.blue-icon-dashboard:hover {
    background: url('green-icon-dash.png') no-repeat;
    background-position: top left;
  }

.blue-icon-customers:hover {
    background: url('green-icon-customers.png'); no-repeat;
        background-position: top left;
}

.blue-icon-messages:hover {
    background: url('green-icon-messages.png');no-repeat;
        background-position: top left;
}

.blue-icon-promotions:hover {
    background: url('green-icon-promotions.png');no-repeat;
        background-position: top left;
}

.blue-icon-page-creator:hover {
    background: url('green-icon-page-creator.png');no-repeat;
        background-position: top left;
}

.blue-icon-analytics:hover {
    background: url('green-icon-analytics.png');no-repeat;
        background-position: top left;
}


.search-icon {
  float:right;
}



.list-inline {
  display: inline-block;
}


.dashboard{
  background-color:#33cc66;
  height:65px;
  margin: 15px 0px;
  border-radius: 5px;
  font-size: 36px;
  line-height:65px;
  color:white;
}

.search-bar {
  background-image:url('search-tool.png');
  border-radius:3px;
  border: #2db55b solid;
  margin: 15px 0px;
  height: 23px;
  padding: 0px;
  float: right;
  padding-right: 15px;

}

.search-icon {
  float:right;
  border-radius:3px;
  margin-top: 4px;
  cursor: pointer;

}

.white{
  background-color: white;
}

.search {
  padding-bottom: 40px;
}

form {
  display:block;
  float:left;
}

.announcements {
  font-size:14px;
  height: 40px;
  line-height:60px;
}

.content{
  //border-left: 1px solid #eeeeee;
  padding: 15px;
  background: url(gradient.png) no-repeat;
  background-size: 100% 249px;
  margin: 0px 5px;
}

.subcontent{
  border-right: 1px solid #eeeeee;
  background-size: 100%;
  padding-left: 25px;
  padding-top: 20px;
}

.announcements div {
  border-bottom: 1px solid #ddd;
  height: 51px;
}

.button-left {
  padding-left: 0px;
  float: left;
  cursor: pointer;
  margin: 0px;
}

.button-right {
  float: right;
  cursor: pointer;
    margin: 0px;
}

.sidebar-left {
  float:left;
}


.tasks-settings-icon {
  float: right;
}


.form-control {
  width:200px;
  height:29px;
  border:none;
  background-color:white;
}

/*pulldown code from http://bavotasan.com/2011/style-select-box-using-only-css/ //
*/
.styled-select {
   float:right;
   width: 180px;
   height: 30px;
   overflow: hidden;
   background: url(pulldown-arrow.png) no-repeat;
   background-position: right 5px center;
   border: 1px solid #ccc;
   line-height: 30px;
   }

   .styled-select select {
      background: transparent;
      width: 162px;
      padding: 5px;
      font-size: 16px;
      line-height: 1;
      border: 0;
      border-radius: 0;
      //height: 32px;
      cursor: pointer;
      -webkit-appearance: none;
      }

.blue-head {
  background-image: url('customer-count-line.png');
  background-size: contain;
  cursor: pointer;
}


.piechart {
  float:right;
}

.analytics {
  padding-left: 40px;
}

.border-bottom {
  border-bottom: 1px solid #ddd;
}

.imgstretch{
  width:100%;
  height:auto;
  padding:10px 20px 0px;
}

.bleft{
  background: url(leftborder.png) no-repeat left;
  background-size: 35px 100%;
  border-left: 1px solid #ededed;
}

.task-settings span {
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
}
.tasks-settings-icon {
  padding-right: 40px;
}

.social-buttons {
  margin-left: 140px;
  margin-top: 30px;
}
