/* {
  border: 1px #CCCCCC solid;
}*/

.sprite {
  display: block;
}


#dashboard {
  background-image:url('nav-bar.png');
  background-repeat:no-repeat;
  background-size:100% 100%;
  font-size: 18px;
  color: white;
  margin:14px;
  height:77px;
}


body{
  font-family: 'PT Sans';
}

h1{
  font-size: 32px;
  color: #2498f4;
}

b{
  font-size: 32px;
  font-weight: normal;
  color: #2498f4;
}

.big{
  font-size: 1.3em;
}

.small{
  font-size:60%;
  display:block;
}

.stretch {
  width:100%;
  background-size: 100% 100%;
  padding:0px;
  margin:0px;
  border:0px;
}


.nopadding {
  padding:0px;
}

//colors//

.white {
  background-color: #ffffff;
  padding:40px;
  border: 1px #e5e5e5 solid;
}

.orange{
  color: #fe7f13;
}

.gray {
  color: #777777;
}

.orange, .gray{
  border-right:1px solid #eeeeee;
}

.header {
  background-image:url('head-bar.png');
  background-repeat:no-repeat;
  background-size:100% 100%;
  color: white;
  font-size: 18px;
  height:45px;
}

.header-content {
  float:right;
  height:44px;
  color: #ffffff;
  line-height:45px;
  padding-right:10px;
  padding-top:0;
  font-size: 10px;

}

.navigation {
  height:110px;
  background-image: url(nav-bar.png);
  padding-top:19px;
}

.navigation ul {
  width:100%;
  margin:0 auto;
}

.navigation li {
  width:16%;
  margin:0 auto;
  cursor: pointer;
}

.navigation li div{
  margin: 0 auto;
}


.blue-icon-dashboard:hover {
    background: url('green-icon-dash.png') no-repeat;
    background-position: top left;
  }

.blue-icon-customers:hover {
    background: url('green-icon-customers.png'); no-repeat;
        background-position: top left;
}

.blue-icon-messages:hover {
    background: url('green-icon-messages.png');no-repeat;
        background-position: top left;
}

.blue-icon-promotions:hover {
    background: url('green-icon-promotions.png');no-repeat;
        background-position: top left;
}

.blue-icon-page-creator:hover {
    background: url('green-icon-page-creator.png');no-repeat;
        background-position: top left;
}

.blue-icon-analytics:hover {
    background: url('green-icon-analytics.png');no-repeat;
        background-position: top left;
}


.search-icon {
  float:right;
}



.list-inline {
  display: inline-block;
}


.dashboard{
  background-color:#33cc66;
  height:65px;
  margin: 15px 0px;
  border-radius: 5px;
  font-size: 36px;
  line-height:65px;
  color:white;
}

.search-bar {
  background-image:url('search-tool.png');
  border-radius:3px;
  border: #2db55b solid;
  margin: 15px 0px;
  height: 23px;
  padding: 0px;
  float: right;
  padding-right: 15px;

}

.search-icon {
  float:right;
  border-radius:3px;
  margin-top: 4px;
  cursor: pointer;

}

.white{
  background-color: white;
}

.search {
  padding-bottom: 40px;
}

form {
  display:block;
  float:left;
}

.announcements {
  font-size:14px;
  height: 40px;
  line-height:60px;
}

.content{
  //border-left: 1px solid #eeeeee;
  padding: 15px;
  background: url(gradient.png) no-repeat;
  background-size: 100% 249px;
  margin: 0px 5px;
}

.subcontent{
  border-right: 1px solid #eeeeee;
  background-size: 100%;
  padding-left: 25px;
  padding-top: 20px;
}

.announcements div {
  border-bottom: 1px solid #ddd;
  height: 51px;
}

.button-left {
  padding-left: 0px;
  float: left;
  cursor: pointer;
  margin: 0px;
}

.button-right {
  float: right;
  cursor: pointer;
    margin: 0px;
}

/*dropdown form*/

.form-control {
  width:200px;
  height:29px;
  border:none;
  background-color:white;
}

/*pulldown code from http://bavotasan.com/2011/style-select-box-using-only-css/ //
*/
.styled-select {
   float:right;
   width: 180px;
   height: 30px;
   overflow: hidden;
   background: url(pulldown-arrow.png) no-repeat;
   background-position: right 5px center;
   border: 1px solid #ccc;
   line-height: 30px;
   }

   .styled-select select {
      background: transparent;
      width: 162px;
      padding: 5px;
      font-size: 16px;
      line-height: 1;
      border: 0;
      border-radius: 0;
      //height: 32px;
      cursor: pointer;
      -webkit-appearance: none;
      }

/*analytics*/

.piechart {
  float:right;
}

.analytics {
  /*padding-left: 40px;*/
  padding-left:0px
}

.activity-text {
  color: grey;
  font-size: 90%;
  padding-top:15px;
  padding-left:35px;
}

.pie-text {
    color: grey;
    margin-bottom: 5%;
    font-size: 90%;
    margin-top: 0;
    display: inline-block;
    margin-left: 20%;
}

.put-padding-here {
  width: 80%;
  height: auto;
  padding: 10px 20px 8px;
}

.social-buttons {
  margin-left: 140px;
  margin-top: 30px;
  cursor: pointer;
}

.chan-ref {
  padding-left:0px;
  padding-right:0px;
  padding-bottom:0px;
  padding-top:40px;
}

.chan-ref-border {
    border-left-color: #e9e9e9;
    border-left-style: solid;
    border-left-width: 2px;
}

#channels {
  height:79px;
  width: 80px;
  display:block;
}

#referrals {
  height:79px;
  width: 80px;
  display:block;
}

.imgstretch{
  width: 100%;
  height: auto;
  padding: 10px 20px 0px;
}

.bleft{
  margin-top: 45px;
  background-size: 35px 100%;
  border-left: 1px solid #ededed;
}

/*tasks*/

.left{
  background: url(leftborder.png) no-repeat left;
  background-size: 35px 100%;
  border-left: 1px solid #ededed;
}

.sidebar-left {
  float:left;
}

.sidebar-style {
  font-size: 18px;
  color: #2498f4;
  font-weight: normal;
  cursor: pointer;
}

.sidebar-style div{
  vertical-align: middle;
}

.sidebar-style .row{
  margin-top: 5px;
}
.sidebar-style .row:hover{
  color: #dddddd;
}

.tasks-settings-icon {
  float: right;
}

.task-settings span {
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
}

.tasks-settings-icon {
  padding-right: 40px;
}


.blue-head {
  background-image: url('customer-count-line.png');
  background-size: contain;
  cursor: pointer;
  margin: 3px;
  float:left;
}

.green-circle {
   background-image: url('grey-circle.png');no-repeat;
}

.green-circle:hover {
  opacity:0;
  background-image: url('grey-circle.png');no-repeat;
  display:block;
}

.border-bottom {
  border-bottom: 1px solid #ddd;
  margin-right:0;
  margin-left:0;
}

.circle{
  width:24px;
  height:24px;
  border-radius: 50%;
  background-color: #32cc66;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 5px;
}


.avi-box {
  font-size: 15px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  position: relative;
  padding: 3px;
  vertical-align: top;
  width: auto;
  display:block;
}


#row1:hover #circle1 {
  background-color: #dddddd;
}

#row1:hover #avi1 {
	background-position: -814px -15px ;
}

#row2:hover #circle2 {
  background-color: #dddddd;
}

#row2:hover #avi2 {
	background-position: -814px -15px ;
}

#row3:hover #circle3 {
  background-color: #dddddd;
}

#row3:hover #avi3 {
	background-position: -814px -15px ;
}

#row4:hover #circle4 {
  background-color: #dddddd;
}

#row4:hover #avi4 {
	background-position: -814px -15px ;
}


/*rec*/

.rec{
  margin-top:5%;
  padding-bottom: 5%;
}

.text-article{
  line-height: 90%;
    color: #888888;
}


/*contacts customers boxes*/

.contacts-border{
  border-top-style:solid;
  border-top-width:1px;
  border-top-color: #e9e9e9;
  margin-top:4%;
  padding-left:8%;
  padding-right:8%;
  padding-top:4%;
  padding-bottom:4%;
}

.contacts-customers-box{
  padding-top:5%;
  padding-bottom:5%;
  padding-left:10%;
  padding-right:10%;
  margin-bottom:-3%;
}

.contacts-customers{
  background-color:#2394ee;
  display:inline-block;
  margin-top:20%;
  padding-top:5%;
  padding-bottom: .5%;
  padding-right: 10%;
  padding-left: 10%;
  width:100%;
  color:white;
  text-align:center;
  line-height:95%;
}


#left-ribbon {
  position: absolute;
  top: 78px;
  left: 45px;
}

#right-ribbon {
  position:absolute;
  top: 78px;
  left: 280px;
}

#green-graph {
  margin:5%;
  margin-top:2px;
}

#green-head{
  position:absolute;
  top: -4px;
  left: 135px;
}

/*ads*/

.ads {
     background-image: url(promo-background.png);no-repeat;
     height:219px;
   }

.ad-one, .ad-three  {
  margin-top: 20px;
  cursor: pointer;
}

 .ad-two {
   margin-top: 9px;
   cursor: pointer;
 }

/*dyk*/

.dyk-box {
  background-color:#2498f4;
  margin:5%;
}

 .dyk {
    padding-left: 7%;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-right: 8%;
    margin-left: 3%;
    font-size: 95%;
    color: white;
 }

 .back-arrow {
   margin-bottom: -110px;
 }

 .next-arrow {
   margin-top: -94px;

 }

/*footer*/

.footer-social {
  float:right;
}
